@page
@model IndexModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div id="about" class="section bg-light border-bottom pt-7 pb-7">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div data-wow-delay="0.3s" class="text-center mb-5 wow fadeInUp">
                    <i class="mdi-information-outline icon-title"></i>
                    <h2 class="fw-bolder os-font dark-color section-title">ABOUT BIAP</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div data-wow-delay="0.3s" class="text-right wow fadeInLeft">
                    <p>BIAP ist ein <strong>UI EXPO Projekt</strong> zur Entwicklung einer <strong>Business Intelligence und Analytics Platform</strong>,
                    welche Cloud Technologien, Services und Infrastruktur nutzen wird. 
                    Hierbei werden einerseits die bestehende BI Infrastruktur erweitert, anderseits aber völlig neue Technologien und Tools für den Konzern nutzbar gemacht. 

                        Für die Datenhaltung wird z.B. auf einen <strong>hybriden Ansatz</strong> gesetzt,
                        welcher es ermöglicht, im Einzelfall (in eigenen Projekten) zu entscheiden,
                        wo die benötigten Daten gespeichert werden sollen (<strong>on-prem oder in der Cloud</strong>).
                    </p>
                    <p>
                        Das BIAP Projekt steht in <strong>engem Zusammenhang mit weiteren Großprojekten</strong> des Konzern.
                        Beispiele dafür sind das EXPO-Projekt zur Umsetzung der <strong>Datenschutzgrundverordnung</strong> oder die <strong>Windows 10</strong> Einführung.
                    </p>

                </div>
            </div>
            <div class="col-sm-6">
                <div data-wow-delay="0.3s" class="text-left wow fadeInRight">
                    <p>
                       Das <strong>Projekt verfolgt mehrere Ziele</strong>. Zum einen sollen durch die neue Platform 
                        <strong>die zahlreichen geplanten und kommenden BI Initiativen unterstützt</strong> und effizient umgesetzt werden können.
                       Zum anderen soll die Wachstumsstrategie des Konzerns durch <strong>eine skallierbare Infrastruktur</strong> unterstützt werden.
                    </p>
                    <p>
                        Ein weiterer Fokus des Projektes gilt aber vor allem der <strong>Erschließung von neuen Technologien</strong> und Möglichkeiten 
                        und damit der <strong>Unterstützung der digitalen Transformation</strong> der Universal Investment GmbH.
                        Durch die Nutzung und Anbindung von Cloud Technologien werden Themen wie <strong>Artifical Intelligence, Maschine Learning oder Blockchain</strong> 
                        konkret erleb- und umsetzbar. Mit der Auswahl und Integration der entsprechenden Technologien ergeben sich somit Möglichkeiten
                        für <strong>völlig neue Ideen, Innovationen, Services und Produkte.</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div data-wow-delay="0.3s" class="text-center mt-5 wow fadeInUp">
                    <img width="360" height="65" src="images/image_360x65.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
