@page
@model IndexModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




<div id="about" class="section border-bottom pt-7 pb-7">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div data-wow-delay="0.3s" class="text-center mb-5 wow fadeInUp">
                    <i class="mdi-help-circle icon-title"></i>
                    <h2 class="fw-bolder os-font dark-color section-title">ABOUT BIAP OPEN DAYS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div data-wow-delay="0.3s" class="text-right wow fadeInLeft">
                    <p>Whatever it was, it was coming <strong>slowly toward the entrance of the cave</strong>, and now, deep and forbidding, it uttered a low and ominous growl. I waited no longer to dispute possession of the ledge with the thing which owned that voice. The noise had not been loud I doubt if the Sagoths heard it at all but the suggestion of latent possibilities.</p>
                    <p>As I backed along the ledge I soon was past the mouth of the cave, where I no longer could see those fearful flaming eyes, but an instant later I caught sight of the fiendish face of a Sagoth as it warily <strong>advanced beyond the cliff’s turn</strong> on the far side of the cave’s mouth. As the fellow saw me he leaped along the ledge in pursuit, and after him came as many of his companions as could crowd upon each other’s heels.</p>
                    <p>The thing was an enormous cave bear, rearing its colossal bulk fully eight feet at the shoulder, while from the tip of its nose to the end of its stubby tail it was fully twelve feet in length. As it sighted the Sagoths it emitted a <strong>most frightful roar</strong>, and with open mouth charged full upon them. With a cry of terror the foremost gorilla-man turned to escape.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div data-wow-delay="0.3s" class="text-left wow fadeInRight">
                    <p>Whatever it was, it was coming <strong>slowly toward the entrance of the cave</strong>, and now, deep and forbidding, it uttered a low and ominous growl. I waited no longer to dispute possession of the ledge with the thing which owned that voice. The noise had not been loud I doubt if the Sagoths heard it at all but the suggestion of latent possibilities.</p>
                    <p>As I backed along the ledge I soon was past the mouth of the cave, where I no longer could see those fearful flaming eyes, but an instant later I caught sight of the fiendish face of a Sagoth as it warily <strong>advanced beyond the cliff’s turn</strong> on the far side of the cave’s mouth. As the fellow saw me he leaped along the ledge in pursuit, and after him came as many of his companions as could crowd upon each other’s heels.</p>
                    <p>The thing was an enormous cave bear, rearing its colossal bulk fully eight feet at the shoulder, while from the tip of its nose to the end of its stubby tail it was fully twelve feet in length. As it sighted the Sagoths it emitted a <strong>most frightful roar</strong>, and with open mouth charged full upon them. With a cry of terror the foremost gorilla-man turned to escape.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div data-wow-delay="0.3s" class="text-center mt-5 wow fadeInUp">
                    <img width="360" height="65" src="images/image_360x65.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
