@page
@model IndexModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div id="idea" class="section border-bottom pt-7 pb-7">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div data-wow-delay="0.3s" class="text-center mb-5 wow fadeInUp">
                    <i class="mdi-compass-outline icon-title"></i>
                    <h2 class="fw-bolder os-font dark-color section-title">THE IDEA BEHIND THE OPEN DAYS</h2>
                </div>
            </div>
        </div>
        <div class="section pb-4">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div data-wow-delay="0.3s" class="wow fadeInUp">
                            <p>
                                <span class="first-letter">D</span>ie <strong>Digitalisierung erfordert neue Herangehensweisen</strong> für die Konzeption und Entwicklung von Produkten.
                                 Um diese Herausforderungen meistern zu können, kommen im BIAP Projekt Methoden wie
                                <strong>agile Entwicklung, Design Thinking oder Lean Startup</strong> zum Einsatz.
                            </p>
                            <p>
                                Teil dieser Methoden ist der enge Austausch und die <strong>Kollaboration mit Usern, Kunden, Stakeholdern, Entwicklern, ... </strong>
                                Ein Baustein davon für uns sind die "Open days".
                            </p>
                            <p>
                                Wir stellen euch das Projekt, die Technologie und
                                unsere Planungen vor. Vor allem aber möchten wir mit euch <strong>Ideen für neue Produkte, Innovation und Zusammenarbeit entwickeln.</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div data-wow-delay="0.4s" class="wow fadeInUp">
                            <p>
                                Wir möchten <strong>Menschen unterschiedlicher Disziplinen in einem kreativen Umfeld zusammenbringen</strong>, um neue Ideen zu entwickeln
                                , die bereichsübergreifende Zusammenarbeit zu stärken und <strong>Business und IT nahe zusammenzubringen</strong>.
                            </p>
                            </p>
                            <p>
                                Wir haben für die Open Days ein Programm entwickelt, welches einen kompletten Tag füllt (9:00 - 17 Uhr). 
                                Dieses <strong>Programm werden wir am 2. Tag in geänderter Reihenfolge wiederholen</strong>, 
                                um möglichst vielen von euch die Möglichkeit zu geben, die Sessions zu besuchen.
                                Den genauen Zeitplan findet ihr <a class="onepage" href="#schedule">hier</a>.
                            </p>
                            <p>
                                Wir laden euch herzlich ein, vorbeizuschauen. mitzumachen, euch einzubringen und gerne auch Spaß zu haben. <strong>Schaut vorbei!</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div data-wow-delay="0.4s" class="text-center wow fadeInUp">
                            <img src="images/image_360x326_community.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

       @*<div class="row">
        <div class="col-md-12">
            <div data-wow-delay="0.3s" class="text-center mt-5 wow fadeInUp">
                <img width="360" height="65" src="images/image_360x65.jpg" alt="" />
            </div>
        </div>
    </div>*@
    </div>
</div>
