@page
@model IndexModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




<div class="section bg-light  border-bottom pt-7 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div data-wow-delay="0.3s" class="text-center mb-5 wow fadeInUp">
                    <i class="mdi-gamepad-variant icon-title"></i>
                    <h2 class="fw-bolder os-font dark-color section-title mb-1">THE TOOLS</h2>
                    <p>
                        Wir möchten euch keine monotonen Vorträge halten und nicht möglichst viel Wissen unterbringen.
                        Unser Ziel ist der interaktive Austausch mit Euch, das gemeinsame Erleben und Entwickeln der Themen.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-4">
                <div data-wow-delay="0.3s" class="service-item mb-5 text-center wow fadeIn">
                    <div class="service-icon">
                        <i class="mdi-open-in-app color"></i>
                    </div>
                    <div class="service-content text-center">
                        <h4 class="os-font dark-color">Open Door</h4>
                        <p>
                            Unser Raum New York ist für die 2 Tage für jeden, jederzeit offen, um zwanglos teilzunehmen, 
                            die Vorträge zu besuchen, mit uns ins Gespräch zu kommen und ein- und auszusteigen wie es 
                            eure persönliche Planung eben zulässt.                           
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div data-wow-delay="0.4s" class="service-item mb-5 text-center wow fadeIn">
                    <div class="service-icon">
                        <i class="mdi-presentation-play color"></i>
                    </div>
                    <div class="service-content text-center">
                        <h4 class="os-font dark-color">Kurze Vorträge</h4>
                        <p>
                            Wir halten beinahe durchweg kurze Vorträge zu verschiedenen Themen, um den Tagen eine grobe Struktur zu geben.
                            Diese werden durch interaktive Elemente und Hands-on-Bestandteile aufgelockert. 
                            Euer Feedback und eure aktive Teilnahme ist sehr willkommen und erwünscht.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div data-wow-delay="0.5s" class="service-item mb-5 text-center wow fadeIn">
                    <div class="service-icon">
                        <i class="mdi-twitter color"></i>
                    </div>
                    <div class="service-content text-center">
                        <h4 class="os-font dark-color">Birds of a feather...</h4>
                        <p>
                           Mittags und abends haben wir jeweils vortragsfreie Zeiten vorgesehen. Hier möchten wir uns
                           ganz zwanglos und ohne Agenda mit euch austauschen, brainstormen und netzwerken. 
                           Was interessiert euch, liegt euch auf dem Herzen und habt ihr für Ideen?
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-4">
                <div data-wow-delay="0.3s" class="service-item mb-5 text-center wow fadeIn">
                    <div class="service-icon">
                        <i class="mdi-hand-pointing-right color"></i>
                    </div>
                    <div class="service-content text-center">
                        <h4 class="os-font dark-color">Hands-On</h4>
                        <p>
                            Wir zeigen nicht nur was gehen könnte, sondern anhand von konkreten Beispielen das und wie es funktioniert.
                            Nur mit dieser Mentalität werden wir auch zukünftig unsere gemeinsam geplanten Vorhaben in die Tat umsetzen können.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div data-wow-delay="0.4s" class="service-item mb-5 text-center wow fadeIn">
                    <div class="service-icon">
                        <i class="mdi-lightbulb color"></i>
                    </div>
                    <div class="service-content text-center">
                        <h4 class="os-font dark-color">Design Thinking</h4>
                        <p>
                            Design Thinking basiert auf der Annahme, dass Probleme besser gelöst und neue Ideen schneller entwickelt werden können, 
                            wenn Menschen unterschiedlicher Disziplinen in einem die Kreativität fördernden Umfeld zusammenarbeiten.
                            Die Open Days bieten dafür ein Forum und sollen bloß ein Startschuss sein, für zukünftige Initiativen.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div data-wow-delay="0.5s" class="service-item mb-5 text-center wow fadeIn">
                    <div class="service-icon">
                        <i class="mdi-heart-outline color"></i>
                    </div>
                    <div class="service-content text-center">
                        <h4 class="os-font dark-color">Love Driven</h4>
                        <p>
                            Wir brennen für neue Technologien und sind begeistert von den Möglichkeiten die sich uns allen daraus ergeben.
                            Gerne möchten wir euch mit dieser Euphorie anstecken 
                            und gemeinsam mit euch auf der Digitalisierungs-Welle reiten, 
                            um voranzukommen und unsere Ziele zu erreichen.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
