@page
@model IndexModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div id="speakers" class="section  border-bottom pt-7 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div data-wow-delay="0.3s" class="text-center mb-6 wow fadeInUp">
                    <i class="mdi-microphone-variant icon-title"></i>
                   
                    <h2 class="fw-800 os-font dark-color section-title mb-1">THE SPEAKERS</h2>
                    @*<p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor. </p>*@
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="team">
                    <li data-wow-delay="0.5s" class="team-member text-center col-sm-4 wow zoomIn">
                        <div class="member-info">
                            <div class="member-desc">
                                <h3 class="os-font">The Azure Architect</h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                            </div>
                            <div class="member-overlay"></div>
                            <img src="images/team/team_360x360_Roecher.jpg" alt="" />
                            <div class="member-links">
                                <div class="member-links-inner">
                                    <div class="link">
                                        <a href="https://www.linkedin.com/in/marioroecher" target="_blank"><i class="socialink fa fa-linkedin"></i></a>
                                    </div>
                                    <div class="link">
                                        <a href="https://www.xing.com/profile/Mario_Roecher" target="_blank"><i class="socialink fa fa-xing"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="member-name os-font dark-color">
                            Mario Röcher
                        </div>
                        <div class="member-position fz-14">
                            The Azure Architect
                        </div>
                    </li>

                    <li data-wow-delay="0.5s" class="team-member text-center col-sm-4 wow zoomIn">
                        <div class="member-info">
                            <div class="member-desc">
                                <h3 class="os-font">The Architect</h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                            </div>
                            <div class="member-overlay"></div>
                            <img src="images/team/team_360x360_Verhuelsdonk.jpg" alt="" />
                            <div class="member-links">
                                <div class="member-links-inner">
                                    <div class="link">
                                        <a href="https://www.linkedin.com/in/guidoverhuelsdonk/" target="_blank"><i class="socialink fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="member-name os-font dark-color">
                            Guido Verhülsdonk
                        </div>
                        <div class="member-position fz-14">
                            The Architect
                        </div>
                    </li>

                    <li data-wow-delay="0.5s" class="team-member text-center col-sm-4 wow zoomIn">
                        <div class="member-info">
                            <div class="member-desc">
                                <h3 class="os-font">The Project Manager</h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                            </div>
                            <div class="member-overlay"></div>
                            <img src="images/team/team_360x360_Peppler.jpg" alt="" />
                            <div class="member-links">
                                <div class="member-links-inner">
                                    <div class="link">
                                        <a href="https://www.linkedin.com/in/markuspeppler/" target="_blank"><i class="socialink fa fa-linkedin"></i></a>
                                    </div>
                                    <div class="link">
                                        <a href="https://www.xing.com/profile/Markus_Peppler" target="_blank"><i class="socialink fa fa-xing"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="member-name os-font dark-color">
                            Markus Peppler
                        </div>
                        <div class="member-position fz-14">
                            The Project Manager
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
