@page
@model IndexModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div id="schedule" class="section bg-light  border-bottom pt-7 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div data-wow-delay="0.3s" class="text-center mb-6 wow fadeInUp">
                    <i class="mdi-clock-fast icon-title"></i>
                   
                        <h2 class="fw-800 os-font dark-color section-title mb-1">THE SCHEDULE</h2>
                        <p>
                            Wir haben ein Programm entwickelt, welches einen Tag füllt und sich grob in 4 Sessions aufteilt.
                            2 Business Sessions und 2 Tech Sessions. 
                             Das Programm vom Donnerstag wird am Freitag wiederholt.
                             Donnerstag vormittags sind die Business Sessions und nachmittags die Tech Sessions.
                             Freitags ist es umgekehrt.
                         </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">

                    <div data-wow-delay="0.3s" class="wow fadeInRight">
                        <div class="tabs">
                            <!-- Nav tabs -->
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs">
                                    <li class="active os-font">
                                        <a href="#tab-content-1" data-toggle="tab">
                                            <i class="fa fa-calendar"></i>&nbsp;
                                            Donnerstag, 8.03.2018
                                        </a>
                                    </li>
                                    <li class="os-font">
                                        <a href="#tab-content-2" data-toggle="tab">
                                            <i class="fa fa-calendar"></i>&nbsp;
                                            Freitag, 9.03.2018
                                        </a>
                                    </li>

                                </ul>
                            </div>